<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.1</key>
	<array>
		<string>test</string>
	</array>
	<key>20.4</key>
	<array>
		<string>[r]误！此笔与下一笔应连成一笔，将在下个版本修复。抱歉</string>
	</array>
</dict>
</plist>
