<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterKeywrods</key>
	<array/>
	<key>1.1</key>
	<array>
		<string>666</string>
		<string>[D]666</string>
	</array>
	<key>2.1</key>
	<array/>
	<key>2.4</key>
	<array/>
	<key>3.1</key>
	<array/>
	<key>4.1</key>
	<array/>
	<key>4.3</key>
	<array/>
	<key>4.-1</key>
	<array/>
	<key>5.1</key>
	<array/>
	<key>5.6</key>
	<array/>
	<key>5.9</key>
	<array/>
	<key>6.1</key>
	<array/>
	<key>6.3</key>
	<array/>
	<key>7.1</key>
	<array/>
	<key>8.1</key>
	<array/>
	<key>9.1</key>
	<array/>
	<key>10.1</key>
	<array/>
	<key>10.4</key>
	<array/>
	<key>11.1</key>
	<array/>
	<key>11.2</key>
	<array/>
	<key>12.1</key>
	<array/>
	<key>12.2</key>
	<array/>
	<key>12.4</key>
	<array/>
	<key>12.6</key>
	<array/>
	<key>13.1</key>
	<array/>
	<key>13.2</key>
	<array/>
	<key>14.1</key>
	<array/>
	<key>15.1</key>
	<array/>
	<key>16.1</key>
	<array/>
	<key>17.1</key>
	<array/>
	<key>17.2</key>
	<array/>
	<key>18.1</key>
	<array/>
	<key>19.1</key>
	<array/>
	<key>19.2</key>
	<array/>
	<key>20.1</key>
	<array/>
	<key>21.1</key>
	<array/>
	<key>21.8</key>
	<array/>
	<key>21.-1</key>
	<array/>
	<key>22.1</key>
	<array/>
	<key>22.-1</key>
	<array/>
	<key>23.1</key>
	<array/>
	<key>23.-1</key>
	<array/>
	<key>24.1</key>
	<array/>
	<key>24.-1</key>
	<array/>
	<key>25.1</key>
	<array/>
	<key>25.-1</key>
	<array/>
	<key>26.1</key>
	<array/>
	<key>26.-1</key>
	<array/>
	<key>27.1</key>
	<array/>
	<key>27.2</key>
	<array/>
	<key>27.-1</key>
	<array/>
	<key>28.1</key>
	<array/>
	<key>28.-1</key>
	<array/>
	<key>29.1</key>
	<array/>
	<key>29.2</key>
	<array/>
	<key>29.3</key>
	<array/>
	<key>29.-1</key>
	<array/>
	<key>30.1</key>
	<array/>
	<key>30.2</key>
	<array/>
	<key>30.3</key>
	<array/>
	<key>31.1</key>
	<array/>
	<key>31.2</key>
	<array/>
	<key>31.5</key>
	<array/>
	<key>31.6</key>
	<array/>
	<key>31.-1</key>
	<array/>
	<key>32.1</key>
	<array/>
	<key>32.4</key>
	<array/>
	<key>33.1</key>
	<array/>
	<key>33.4</key>
	<array/>
	<key>33.-1</key>
	<array/>
	<key>34.1</key>
	<array/>
	<key>34.2</key>
	<array/>
	<key>34.-1</key>
	<array/>
	<key>35.1</key>
	<array/>
	<key>35.2</key>
	<array/>
	<key>35.-1</key>
	<array/>
	<key>36.1</key>
	<array/>
	<key>36.-1</key>
	<array/>
	<key>37.1</key>
	<array/>
	<key>37.-1</key>
	<array/>
	<key>38.1</key>
	<array/>
	<key>38.5</key>
	<array/>
	<key>38.6</key>
	<array/>
	<key>38.-1</key>
	<array/>
	<key>39.1</key>
	<array/>
	<key>39.2</key>
	<array/>
	<key>39.6</key>
	<array/>
	<key>39.9</key>
	<array/>
	<key>39.-1</key>
	<array/>
	<key>40.1</key>
	<array/>
	<key>40.2</key>
	<array/>
	<key>40.3</key>
	<array/>
	<key>40.-1</key>
	<array/>
	<key>41.1</key>
	<array/>
	<key>41.2</key>
	<array/>
	<key>41.3</key>
	<array/>
	<key>41.-1</key>
	<array/>
	<key>42.1</key>
	<array/>
	<key>42.2</key>
	<array/>
	<key>42.-1</key>
	<array/>
	<key>43.1</key>
	<array/>
	<key>43.2</key>
	<array/>
	<key>43.-1</key>
	<array/>
	<key>44.1</key>
	<array/>
	<key>44.2</key>
	<array/>
	<key>45.1</key>
	<array/>
	<key>45.2</key>
	<array/>
	<key>45.4</key>
	<array/>
	<key>46.1</key>
	<array/>
	<key>46.5</key>
	<array/>
	<key>46.-1</key>
	<array/>
	<key>47.1</key>
	<array/>
	<key>47.-1</key>
	<array/>
	<key>48.1</key>
	<array/>
	<key>48.-1</key>
	<array/>
	<key>49.1</key>
	<array/>
	<key>49.2</key>
	<array/>
	<key>49.-1</key>
	<array/>
	<key>50.1</key>
	<array/>
	<key>50.7</key>
	<array/>
	<key>50.-1</key>
	<array/>
	<key>51.1</key>
	<array/>
	<key>51.5</key>
	<array/>
	<key>51.-1</key>
	<array/>
	<key>52.1</key>
	<array/>
	<key>52.-1</key>
	<array/>
	<key>53.1</key>
	<array/>
	<key>53.3</key>
	<array/>
	<key>53.-1</key>
	<array/>
	<key>54.1</key>
	<array/>
	<key>54.2</key>
	<array/>
	<key>55.1</key>
	<array/>
	<key>55.2</key>
	<array/>
	<key>55.-1</key>
	<array/>
	<key>56.1</key>
	<array/>
	<key>56.-1</key>
	<array/>
	<key>57.1</key>
	<array/>
	<key>57.-1</key>
	<array/>
	<key>58.1</key>
	<array/>
	<key>58.-1</key>
	<array/>
	<key>59.1</key>
	<array/>
	<key>59.3</key>
	<array/>
	<key>59.-1</key>
	<array/>
	<key>60.1</key>
	<array/>
	<key>60.3</key>
	<array/>
	<key>61.1</key>
	<array/>
	<key>62.1</key>
	<array/>
	<key>62.4</key>
	<array/>
	<key>63.1</key>
	<array/>
	<key>63.3</key>
	<array/>
	<key>63.6</key>
	<array/>
	<key>64.1</key>
	<array/>
	<key>64.6</key>
	<array/>
	<key>65.1</key>
	<array/>
	<key>66.1</key>
	<array/>
	<key>67.1</key>
	<array/>
	<key>68.1</key>
	<array/>
	<key>68.2</key>
	<array/>
	<key>69.1</key>
	<array/>
	<key>69.6</key>
	<array/>
	<key>70.1</key>
	<array/>
	<key>70.2</key>
	<array/>
	<key>70.-1</key>
	<array/>
	<key>71.-1</key>
	<array/>
	<key>72.1</key>
	<array/>
	<key>72.2</key>
	<array/>
	<key>72.10</key>
	<array/>
	<key>73.1</key>
	<array/>
	<key>74.1</key>
	<array/>
	<key>74.7</key>
	<array/>
	<key>75.1</key>
	<array/>
	<key>76.1</key>
	<array/>
	<key>76.5</key>
	<array/>
	<key>77.1</key>
	<array/>
	<key>78.1</key>
	<array/>
	<key>78.2</key>
	<array/>
	<key>79.1</key>
	<array/>
	<key>80.1</key>
	<array/>
	<key>80.5</key>
	<array/>
	<key>80.8</key>
	<array/>
	<key>80.9</key>
	<array/>
	<key>81.1</key>
	<array/>
	<key>81.4</key>
	<array/>
	<key>81.7</key>
	<array/>
	<key>82.1</key>
	<array/>
	<key>82.7</key>
	<array/>
	<key>83.1</key>
	<array/>
	<key>83.3</key>
	<array/>
	<key>84.1</key>
	<array/>
	<key>84.4</key>
	<array/>
	<key>85.1</key>
	<array/>
	<key>85.2</key>
	<array/>
	<key>86.-1</key>
	<array/>
	<key>87.1</key>
	<array/>
	<key>87.2</key>
	<array/>
	<key>87.3</key>
	<array/>
	<key>88.1</key>
	<array/>
	<key>88.8</key>
	<array/>
	<key>90.1</key>
	<array/>
	<key>91.1</key>
	<array/>
	<key>91.3</key>
	<array/>
	<key>91.8</key>
	<array/>
	<key>92.1</key>
	<array/>
	<key>92.2</key>
	<array/>
	<key>93.1</key>
	<array/>
	<key>93.5</key>
	<array/>
	<key>94.1</key>
	<array/>
	<key>94.3</key>
	<array/>
	<key>94.4</key>
	<array/>
	<key>95.1</key>
	<array/>
	<key>95.3</key>
	<array/>
	<key>96.1</key>
	<array/>
	<key>96.5</key>
	<array/>
	<key>97.1</key>
	<array/>
	<key>97.3</key>
	<array/>
	<key>98.1</key>
	<array/>
	<key>98.2</key>
	<array/>
	<key>99.1</key>
	<array/>
	<key>99.2</key>
	<array/>
	<key>100.2</key>
	<array/>
	<key>101.1</key>
	<array/>
	<key>101.3</key>
	<array/>
	<key>102.1</key>
	<array/>
	<key>103.1</key>
	<array/>
	<key>104.1</key>
	<array/>
	<key>104.3</key>
	<array/>
	<key>105.1</key>
	<array/>
	<key>106.1</key>
	<array/>
	<key>107.1</key>
	<array/>
	<key>108.1</key>
	<array/>
	<key>108.5</key>
	<array/>
	<key>108.6</key>
	<array/>
	<key>109.1</key>
	<array/>
	<key>109.2</key>
	<array/>
	<key>109.3</key>
	<array/>
	<key>110.1</key>
	<array/>
	<key>112.1</key>
	<array/>
	<key>112.5</key>
	<array/>
	<key>112.-1</key>
	<array/>
	<key>113.1</key>
	<array/>
	<key>114.1</key>
	<array/>
	<key>115.1</key>
	<array/>
	<key>115.3</key>
	<array/>
	<key>118.1</key>
	<array/>
	<key>118.3</key>
	<array/>
	<key>119.1</key>
	<array/>
	<key>119.2</key>
	<array/>
	<key>120.1</key>
	<array/>
	<key>120.3</key>
	<array/>
	<key>120.-1</key>
	<array/>
	<key>121.1</key>
	<array/>
	<key>121.6</key>
	<array/>
	<key>122.1</key>
	<array/>
	<key>122.3</key>
	<array/>
	<key>123.1</key>
	<array/>
	<key>124.1</key>
	<array/>
	<key>125.1</key>
	<array/>
	<key>126.1</key>
	<array/>
	<key>127.1</key>
	<array/>
	<key>127.2</key>
	<array/>
	<key>127.4</key>
	<array/>
	<key>128.1</key>
	<array/>
	<key>128.4</key>
	<array/>
	<key>129.1</key>
	<array/>
	<key>130.1</key>
	<array/>
	<key>131.1</key>
	<array/>
	<key>131.4</key>
	<array/>
	<key>131.-1</key>
	<array/>
	<key>132.1</key>
	<array/>
	<key>132.4</key>
	<array/>
	<key>132.6</key>
	<array/>
	<key>133.1</key>
	<array/>
	<key>133.4</key>
	<array/>
	<key>133.5</key>
	<array/>
	<key>134.1</key>
	<array/>
	<key>135.1</key>
	<array/>
	<key>135.3</key>
	<array/>
	<key>135.11</key>
	<array/>
	<key>136.1</key>
	<array/>
	<key>136.3</key>
	<array/>
	<key>136.-1</key>
	<array/>
	<key>137.1</key>
	<array/>
	<key>137.2</key>
	<array/>
	<key>138.1</key>
	<array/>
	<key>138.2</key>
	<array/>
	<key>138.3</key>
	<array/>
	<key>139.1</key>
	<array/>
	<key>140.1</key>
	<array/>
	<key>141.1</key>
	<array/>
	<key>142.1</key>
	<array/>
	<key>143.1</key>
	<array/>
	<key>143.5</key>
	<array/>
	<key>144.1</key>
	<array/>
	<key>145.1</key>
	<array/>
	<key>145.8</key>
	<array/>
	<key>145.-1</key>
	<array/>
	<key>146.1</key>
	<array/>
	<key>146.3</key>
	<array/>
	<key>146.6</key>
	<array/>
	<key>147.1</key>
	<array/>
	<key>147.6</key>
	<array/>
	<key>147.-1</key>
	<array/>
	<key>148.1</key>
	<array/>
	<key>148.2</key>
	<array/>
	<key>148.8</key>
	<array/>
	<key>149.1</key>
	<array/>
	<key>149.3</key>
	<array/>
	<key>149.5</key>
	<array/>
	<key>149.-1</key>
	<array/>
	<key>150.1</key>
	<array/>
	<key>151.1</key>
	<array/>
	<key>152.1</key>
	<array/>
	<key>152.2</key>
	<array/>
	<key>152.3</key>
	<array/>
	<key>152.-1</key>
	<array/>
	<key>155.1</key>
	<array/>
	<key>155.2</key>
	<array/>
	<key>156.1</key>
	<array/>
	<key>156.10</key>
	<array/>
	<key>157.1</key>
	<array/>
	<key>157.5</key>
	<array/>
	<key>158.1</key>
	<array/>
	<key>158.-1</key>
	<array/>
	<key>160.-1</key>
	<array/>
	<key>161.1</key>
	<array/>
	<key>163.1</key>
	<array/>
	<key>163.2</key>
	<array/>
	<key>164.1</key>
	<array/>
	<key>164.5</key>
	<array/>
	<key>164.-1</key>
	<array/>
	<key>165.1</key>
	<array/>
	<key>165.4</key>
	<array/>
	<key>166.1</key>
	<array/>
	<key>167.1</key>
	<array/>
	<key>167.-1</key>
	<array/>
	<key>168.1</key>
	<array/>
	<key>168.7</key>
	<array/>
	<key>169.1</key>
	<array/>
	<key>169.-1</key>
	<array/>
	<key>170.1</key>
	<array/>
	<key>170.4</key>
	<array/>
	<key>171.1</key>
	<array/>
	<key>172.1</key>
	<array/>
	<key>172.2</key>
	<array/>
	<key>173.1</key>
	<array/>
	<key>173.6</key>
	<array/>
	<key>174.1</key>
	<array/>
	<key>175.1</key>
	<array/>
	<key>175.-1</key>
	<array/>
	<key>176.1</key>
	<array/>
	<key>177.1</key>
	<array/>
	<key>177.3</key>
	<array/>
	<key>177.4</key>
	<array/>
	<key>178.1</key>
	<array/>
	<key>179.1</key>
	<array/>
	<key>179.3</key>
	<array/>
	<key>179.6</key>
	<array/>
	<key>181.1</key>
	<array/>
	<key>181.3</key>
	<array/>
	<key>181.-1</key>
	<array/>
	<key>182.1</key>
	<array/>
	<key>183.1</key>
	<array/>
	<key>183.4</key>
	<array/>
	<key>184.1</key>
	<array/>
	<key>184.2</key>
	<array/>
	<key>185.2</key>
	<array/>
	<key>185.6</key>
	<array/>
	<key>186.8</key>
	<array/>
	<key>187.1</key>
	<array/>
	<key>188.1</key>
	<array/>
	<key>188.2</key>
	<array/>
	<key>189.1</key>
	<array/>
	<key>189.3</key>
	<array/>
	<key>189.-1</key>
	<array/>
	<key>191.1</key>
	<array/>
	<key>192.1</key>
	<array/>
	<key>192.2</key>
	<array/>
	<key>192.5</key>
	<array/>
	<key>193.1</key>
	<array/>
	<key>193.2</key>
	<array/>
	<key>193.4</key>
	<array/>
	<key>194.1</key>
	<array/>
	<key>195.1</key>
	<array/>
	<key>195.3</key>
	<array/>
	<key>195.4</key>
	<array/>
	<key>195.-1</key>
	<array/>
	<key>196.1</key>
	<array/>
	<key>197.1</key>
	<array/>
	<key>197.2</key>
	<array/>
	<key>198.1</key>
	<array/>
	<key>199.1</key>
	<array/>
	<key>200.1</key>
	<array/>
	<key>201.1</key>
	<array/>
	<key>202.1</key>
	<array/>
	<key>203.1</key>
	<array/>
	<key>204.1</key>
	<array/>
	<key>204.2</key>
	<array/>
	<key>204.-1</key>
	<array/>
	<key>205.1</key>
	<array/>
	<key>206.1</key>
	<array/>
	<key>206.4</key>
	<array/>
	<key>206.5</key>
	<array/>
	<key>207.1</key>
	<array/>
	<key>207.2</key>
	<array/>
	<key>207.4</key>
	<array/>
	<key>209.1</key>
	<array/>
	<key>211.1</key>
	<array/>
	<key>213.1</key>
	<array/>
	<key>213.2</key>
	<array/>
	<key>214.1</key>
	<array/>
	<key>214.-1</key>
	<array/>
	<key>215.1</key>
	<array/>
	<key>216.1</key>
	<array/>
	<key>216.2</key>
	<array/>
	<key>217.1</key>
	<array/>
	<key>217.2</key>
	<array/>
	<key>218.1</key>
	<array/>
	<key>218.4</key>
	<array/>
	<key>219.1</key>
	<array/>
	<key>219.3</key>
	<array/>
	<key>220.1</key>
	<array/>
	<key>220.6</key>
	<array/>
	<key>221.1</key>
	<array/>
	<key>222.1</key>
	<array/>
	<key>222.2</key>
	<array/>
	<key>222.5</key>
	<array/>
	<key>223.1</key>
	<array/>
	<key>223.-1</key>
	<array/>
	<key>224.2</key>
	<array/>
	<key>225.1</key>
	<array/>
	<key>226.1</key>
	<array/>
	<key>226.3</key>
	<array/>
	<key>227.1</key>
	<array/>
	<key>229.1</key>
	<array/>
	<key>229.3</key>
	<array/>
	<key>231.1</key>
	<array/>
	<key>232.1</key>
	<array/>
	<key>233.1</key>
	<array/>
	<key>233.4</key>
	<array/>
	<key>234.1</key>
	<array/>
	<key>236.1</key>
	<array/>
	<key>237.1</key>
	<array/>
	<key>238.1</key>
	<array/>
	<key>239.1</key>
	<array/>
	<key>240.1</key>
	<array/>
	<key>240.2</key>
	<array/>
	<key>241.1</key>
	<array/>
	<key>242.1</key>
	<array/>
	<key>242.3</key>
	<array/>
	<key>243.1</key>
	<array/>
	<key>244.3</key>
	<array/>
	<key>245.1</key>
	<array/>
	<key>245.2</key>
	<array/>
	<key>247.1</key>
	<array/>
	<key>248.-1</key>
	<array/>
	<key>249.1</key>
	<array/>
	<key>250.1</key>
	<array/>
	<key>251.1</key>
	<array/>
	<key>251.2</key>
	<array/>
	<key>252.1</key>
	<array/>
	<key>253.1</key>
	<array/>
	<key>253.4</key>
	<array/>
	<key>254.1</key>
	<array/>
	<key>255.1</key>
	<array/>
	<key>256.1</key>
	<array/>
	<key>257.1</key>
	<array/>
	<key>259.1</key>
	<array/>
	<key>260.1</key>
	<array/>
	<key>262.1</key>
	<array/>
	<key>263.2</key>
	<array/>
	<key>263.5</key>
	<array/>
	<key>264.1</key>
	<array/>
	<key>265.1</key>
	<array/>
	<key>265.13</key>
	<array/>
	<key>266.1</key>
	<array/>
	<key>267.1</key>
	<array/>
	<key>267.2</key>
	<array/>
	<key>268.1</key>
	<array/>
	<key>269.1</key>
	<array/>
	<key>269.4</key>
	<array/>
	<key>270.1</key>
	<array/>
	<key>270.2</key>
	<array/>
	<key>270.5</key>
	<array/>
	<key>271.1</key>
	<array/>
	<key>272.1</key>
	<array/>
	<key>272.2</key>
	<array/>
	<key>273.1</key>
	<array/>
	<key>273.9</key>
	<array/>
	<key>276.1</key>
	<array/>
	<key>277.1</key>
	<array/>
	<key>277.2</key>
	<array/>
	<key>278.1</key>
	<array/>
	<key>279.1</key>
	<array/>
	<key>280.3</key>
	<array/>
	<key>281.1</key>
	<array/>
	<key>281.3</key>
	<array/>
	<key>282.1</key>
	<array/>
	<key>282.-1</key>
	<array/>
	<key>283.1</key>
	<array/>
	<key>283.-1</key>
	<array/>
	<key>284.1</key>
	<array/>
	<key>284.-1</key>
	<array/>
	<key>285.1</key>
	<array/>
	<key>286.1</key>
	<array/>
	<key>287.1</key>
	<array/>
	<key>288.1</key>
	<array/>
	<key>288.3</key>
	<array/>
	<key>289.1</key>
	<array/>
	<key>290.1</key>
	<array/>
	<key>290.-1</key>
	<array/>
	<key>291.1</key>
	<array/>
	<key>291.7</key>
	<array/>
	<key>293.1</key>
	<array/>
	<key>294.1</key>
	<array/>
	<key>295.1</key>
	<array/>
	<key>296.1</key>
	<array/>
	<key>297.1</key>
	<array/>
	<key>298.1</key>
	<array/>
	<key>299.1</key>
	<array/>
	<key>300.1</key>
	<array/>
	<key>301.1</key>
	<array/>
	<key>301.-1</key>
	<array/>
	<key>302.1</key>
	<array/>
	<key>303.1</key>
	<array/>
	<key>305.1</key>
	<array/>
	<key>306.1</key>
	<array/>
	<key>306.3</key>
	<array/>
	<key>307.1</key>
	<array/>
	<key>307.2</key>
	<array/>
	<key>307.3</key>
	<array/>
	<key>310.1</key>
	<array/>
	<key>311.1</key>
	<array/>
	<key>312.1</key>
	<array/>
	<key>313.1</key>
	<array/>
	<key>313.6</key>
	<array/>
</dict>
</plist>
