<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.1</key>
	<array/>
	<key>1.2</key>
	<array/>
	<key>1.3</key>
	<array/>
	<key>1.4</key>
	<array/>
	<key>1.5</key>
	<array/>
	<key>1.6</key>
	<array/>
	<key>2.1</key>
	<array/>
	<key>2.2</key>
	<array/>
	<key>2.3</key>
	<array/>
	<key>2.4</key>
	<array>
		<string>回锋挑：和字左挑，实是两笔，先行笔向左下折锋，由原路向右上挑出，是先回锋再上挑，使蓄力更足，力感更强。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>2.5</key>
	<array/>
	<key>2.6</key>
	<array/>
	<key>3.1</key>
	<array>
		<string>尖锋撇：此撇尖锋入纸后，迅即铺毫，然略弯撇出，头尾都尖，中间厚重。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>撇联横： 撇画多数出锋，与横画在形上的联系较难，顺其势而不必一定以牵丝相连。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>3.2</key>
	<array/>
	<key>4.1</key>
	<array/>
	<key>4.2</key>
	<array/>
	<key>4.3</key>
	<array>
		<string>横联点：‘年’字第二横后也以此法写点，此连法外形不露，不见牵丝。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>4.4</key>
	<array/>
	<key>4.5</key>
	<array/>
	<key>5.1</key>
	<array/>
	<key>5.6</key>
	<array>
		<string>横联点：‘岁’中间横后连写三点。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>横三点：岁字中间是横三点，首两点都从腹中出锋带右点，最后一点出锋上挑，以写戈笔。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>5.9</key>
	<array/>
	<key>5.-1</key>
	<array/>
	<key>6.1</key>
	<array>
		<string>回锋撇：在撇至出锋处，忽作收笔，使头呈圆形，力聚于中，十分厚重，含蓄。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>6.4</key>
	<array/>
	<key>6.5</key>
	<array/>
	<key>7.1</key>
	<array/>
	<key>7.5</key>
	<array/>
	<key>7.-1</key>
	<array/>
	<key>8.1</key>
	<array/>
	<key>8.4</key>
	<array/>
	<key>9.1</key>
	<array/>
	<key>9.-1</key>
	<array/>
	<key>10.1</key>
	<array>
		<string>结构--相密：‘春’字由于三横及撇捺都写得靠紧，日字又上靠，故整个字十分紧密不通风之感。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>10.4</key>
	<array>
		<string>长曲撇：此撇长而微弯，其势先直后向左撇出，极为醒目。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>10.-1</key>
	<array/>
	<key>11.1</key>
	<array/>
	<key>11.2</key>
	<array>
		<string>回锋捺：此捺与平捺相似，然行笔轻重有变，出锋处并不捺出，而是回笔将锋收入画内。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>12.1</key>
	<array>
		<string>结构--高低：‘初’的刀字略有升高。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>12.2</key>
	<array>
		<string>撇联竖：‘初’撇开轻而挺，竖重而稳。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>12.4</key>
	<array>
		<string>点联点：‘初’两点相交，一尖一圆，一轻一重。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>12.6</key>
	<array>
		<string>右斜折：横画行笔至转折后，向内微斜而行，然后出钩，其折圆浑。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>12.-1</key>
	<array/>
	<key>13.1</key>
	<array/>
	<key>13.-1</key>
	<array/>
	<key>14.1</key>
	<array>
		<string>重横：于字两横稍短，用笔较重，因此字点画少，点画粗壮，使字稳重有力。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>14.-1</key>
	<array/>
	<key>15.1</key>
	<array/>
	<key>15.-1</key>
	<array/>
	<key>16.1</key>
	<array>
		<string>参差：‘稽’左低右高，使左右参差。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>平撇：第一笔属平撇，笔锋逆入后向左平的撇出，线条饱满而出锋锐利。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>16.-1</key>
	<array/>
	<key>17.1</key>
	<array/>
	<key>17.-1</key>
	<array/>
	<key>18.1</key>
	<array>
		<string>结构--相背： ‘阴’的耳朵向右倒，有依附之势。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>18.-1</key>
	<array/>
	<key>19.1</key>
	<array/>
	<key>19.2</key>
	<array>
		<string>平捺：逆锋入纸后，即向右行笔，一波三折，顿后将锋平出，此捺势甚平。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>20.1</key>
	<array/>
	<key>20.8</key>
	<array/>
	<key>20.-1</key>
	<array/>
	<key>21.1</key>
	<array>
		<string>点联横：‘亭’上点重，横画长。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>21.-1</key>
	<array>
		<string>圆曲钩：最后一笔，接横画后，顺势竖下，由轻至重，其势弯圆，再顺势出钩，极为自然。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>22.1</key>
	<array>
		<string>结构--相向：‘修’字亦相向，相依，力聚于中。-王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>22.3</key>
	<array/>
	<key>22.-1</key>
	<array/>
	<key>23.1</key>
	<array/>
	<key>23.-1</key>
	<array>
		<string>撇联点：‘楔’最后是撇轻点重，因点所处位置不同，此处点重，也使字稳固。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>24.1</key>
	<array/>
	<key>24.-1</key>
	<array>
		<string>弧竖：最后一竖，势向右凹，形成弧曲使整个字更显风神。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>25.1</key>
	<array/>
	<key>25.-1</key>
	<array/>
	<key>26.1</key>
	<array>
		<string>轻重：‘群’上重下轻。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>26.-1</key>
	<array/>
	<key>27.1</key>
	<array>
		<string>轻重：‘贤’左与下重，右特轻，变化巧妙。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>27.6</key>
	<array/>
	<key>27.-1</key>
	<array/>
	<key>28.1</key>
	<array/>
	<key>28.-1</key>
	<array>
		<string>悬针竖：竖画之悬针，笔锋逆入后，调整至中锋则顺势直下，出锋处提笔空收，使锋尖能尖锐，饱满，不能飘浮。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>29.1</key>
	<array/>
	<key>29.2</key>
	<array>
		<string>竖联横：‘至’竖后上挑写横。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>29.3</key>
	<array/>
	<key>29.-1</key>
	<array/>
	<key>30.1</key>
	<array>
		<string>结构--相让：‘少’字中间的竖故意写短，不与长撇相碰。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>30.2</key>
	<array>
		<string>点联撇：‘少’平点后上挑调正笔锋后顺势写长撇。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>30.3</key>
	<array>
		<string>兰叶撇：此长撇，入锋略重后即向左下行笔，其间由重转轻，由轻转重后很快撇出，飘逸如兰叶。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>31.1</key>
	<array/>
	<key>31.2</key>
	<array/>
	<key>31.5</key>
	<array>
		<string>横联钩：‘长’长横后顺势写竖钩。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>下挑横：长字中间长横行笔至收锋处，将笔锋向下挑出，以便连写下部点画。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>31.6</key>
	<array>
		<string>反撇：此撇呈反势，接出钩的牵丝，笔由下向上反手作平撇，转折处的轻重不易掌撑，难度很大。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>31.-1</key>
	<array/>
	<key>32.1</key>
	<array>
		<string>曲头撇：左撇头呈弯曲，其形折，出锋处上钩。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>32.3</key>
	<array/>
	<key>32.-1</key>
	<array/>
	<key>33.1</key>
	<array/>
	<key>33.4</key>
	<array>
		<string>并列横：数横并列有轻重，长短，仰覆之变化。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>33.-1</key>
	<array/>
	<key>34.1</key>
	<array>
		<string>并列竖：数竖并列，在起笔方向，长短，粗细等方面都有变化，使参差不齐，变化复杂。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>34.2</key>
	<array>
		<string>竖联横：‘此’左竖连着写横。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>34.-1</key>
	<array/>
	<key>35.1</key>
	<array>
		<string>横联竖： ‘地’横画收笔处笔上翻连着写竖。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>35.2</key>
	<array/>
	<key>35.-1</key>
	<array/>
	<key>36.1</key>
	<array/>
	<key>36.-1</key>
	<array/>
	<key>37.1</key>
	<array>
		<string>结构--高低：‘峻’左旁山字写在高处，使字重心稳固。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>37.-1</key>
	<array/>
	<key>38.1</key>
	<array/>
	<key>38.6</key>
	<array>
		<string>横联点：‘领’中页字上横收笔时笔从原路回锋至中间写点。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>38.-1</key>
	<array/>
	<key>39.1</key>
	<array>
		<string>轻重：‘崇’上轻下重。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>39.9</key>
	<array>
		<string>竖联点：‘崇’最后中间短竖后写左右点。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>39.-1</key>
	<array/>
	<key>40.1</key>
	<array/>
	<key>40.2</key>
	<array>
		<string>撇联横： ‘茂’字将左撇回锋向上连写横画，是极活泼的用笔。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>40.3</key>
	<array>
		<string>横联钩：‘茂’横后连写戈钩。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>40.-1</key>
	<array/>
	<key>41.1</key>
	<array/>
	<key>41.2</key>
	<array/>
	<key>41.3</key>
	<array>
		<string>横联竖： ‘林’于横画收笔时带着写竖 --王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>41.-1</key>
	<array/>
	<key>42.1</key>
	<array/>
	<key>42.2</key>
	<array>
		<string>竖联竖：两竖起收笔完备，写得都很果断有力。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>42.-1</key>
	<array/>
	<key>43.1</key>
	<array>
		<string>撇联横： 撇画多数出锋，与横画在形上的联系较难，顺其势而不必一定以牵丝相连 --王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>43.-1</key>
	<array>
		<string>曲头竖：最后一笔竖画在笔尖入纸后，利用腕力向左稍弯后再向右迂回行笔，故此竖头有曲折。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>44.1</key>
	<array/>
	<key>44.2</key>
	<array>
		<string>斜捺：尖锋入纸后，即铺毫重按，向右下行笔，顿后出锋，此捺势斜甚有力感。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>45.1</key>
	<array/>
	<key>45.2</key>
	<array>
		<string>轻重横：尖锋入纸后，笔右行时用力由轻至重，收笔回锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>45.-1</key>
	<array/>
	<key>46.1</key>
	<array/>
	<key>46.5</key>
	<array>
		<string>横联竖：‘清’第三横收笔处上挑写竖。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>46.-1</key>
	<array/>
	<key>47.1</key>
	<array/>
	<key>47.-1</key>
	<array/>
	<key>48.1</key>
	<array/>
	<key>48.-1</key>
	<array/>
	<key>49.1</key>
	<array>
		<string>欹正：‘湍’左正右欹，山字特欹向右倾 --王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>49.2</key>
	<array>
		<string>点联竖：‘湍’的三点水上挑写山字的中间一竖 --王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>49.-1</key>
	<array/>
	<key>50.1</key>
	<array>
		<string>大小：‘暎’左小右大，是以小衬大。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>50.7</key>
	<array/>
	<key>50.-1</key>
	<array/>
	<key>51.1</key>
	<array/>
	<key>51.5</key>
	<array/>
	<key>51.-1</key>
	<array/>
	<key>52.1</key>
	<array>
		<string>横联撇：‘左’横的上挑反笔向左撇出，其撇出锋。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>上挑横：第一笔横画向上倾斜，收笔处向上挑出，以便写长撇。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>52.-1</key>
	<array/>
	<key>53.1</key>
	<array/>
	<key>53.3</key>
	<array/>
	<key>53.-1</key>
	<array/>
	<key>54.1</key>
	<array>
		<string>结构--长短：‘引’左右遥相呼应，左长右短。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>54.2</key>
	<array>
		<string>垂露竖：起笔逆入后，着力下行，收笔时笔锋回入画中，使头部圆润，如露珠下垂。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>55.1</key>
	<array/>
	<key>55.2</key>
	<array>
		<string>点联撇：‘以’点后遥写一撇，距离拉长，字形即扁。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>55.-1</key>
	<array/>
	<key>56.1</key>
	<array>
		<string>点联撇：‘为’字上两点后将笔上翻，以反笔写撇。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>56.-1</key>
	<array>
		<string>横四点：横四点，每点都极清楚，然又每点相连，其势略有上斜，不使平板。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>57.1</key>
	<array/>
	<key>57.-1</key>
	<array/>
	<key>58.1</key>
	<array/>
	<key>58.-1</key>
	<array/>
	<key>59.1</key>
	<array/>
	<key>59.3</key>
	<array>
		<string>竖联竖：‘曲’两竖的起笔变化明显。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>59.-1</key>
	<array/>
	<key>60.1</key>
	<array/>
	<key>60.3</key>
	<array>
		<string>撇联捺：‘水’撇捺相连，取势自然。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>62.1</key>
	<array/>
	<key>62.4</key>
	<array>
		<string>横联横：‘坐’两横都有牵丝相连，上横短下横长。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>63.1</key>
	<array/>
	<key>63.3</key>
	<array>
		<string>垂头横：其字第一笔起笔呈反方向笔由下向上，用腕力写成有弹性的横画，其锋外露，收笔回锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>64.1</key>
	<array/>
	<key>64.6</key>
	<array>
		<string>兰叶点：次字最后一笔，尖锋入纸后重按铺毫，再将笔略提从中间出锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>66.1</key>
	<array>
		<string>参差：‘无’中间横画有长短参差，不使字平板。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>横联横：‘无’两横都有牵丝相连，上横短下横长。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>67.1</key>
	<array>
		<string>大小：‘丝’左右绞丝点画相同而一大一小，形态不同。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>68.1</key>
	<array/>
	<key>68.2</key>
	<array/>
	<key>69.1</key>
	<array/>
	<key>69.6</key>
	<array/>
	<key>70.1</key>
	<array>
		<string>结构--相背：‘弦’字势有左右不顾，相背而不相靠。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>70.2</key>
	<array>
		<string>点联横：‘弦’斜点带写横画。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>71.1</key>
	<array/>
	<key>72.1</key>
	<array/>
	<key>72.2</key>
	<array/>
	<key>72.10</key>
	<array>
		<string>点联撇：‘盛’最后两笔是点后写撇，其势较顺。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>73.1</key>
	<array>
		<string>带锋横：发笔处承上一笔的出锋搭势后转笔写成横画，所以又称“搭锋”，变化在发笔处。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>74.1</key>
	<array/>
	<key>75.1</key>
	<array/>
	<key>76.1</key>
	<array/>
	<key>76.5</key>
	<array>
		<string>点联横：‘詠’点与横之间距离近，点重横轻。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>78.1</key>
	<array/>
	<key>78.2</key>
	<array/>
	<key>79.1</key>
	<array>
		<string>带右点：竖直下笔，按后将锋从腹中挑出，带写出右点，写时笔锋横向行走，第一点重，第二点轻。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>80.1</key>
	<array/>
	<key>80.5</key>
	<array>
		<string>反笔竖：此长竖起笔处作由右向左的反方向，以示与其他畅字用笔之不同。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>81.1</key>
	<array/>
	<key>81.4</key>
	<array>
		<string>撇联点：‘叙’撇斜点平，利于下部点画安排。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>81.7</key>
	<array/>
	<key>82.1</key>
	<array/>
	<key>82.7</key>
	<array>
		<string>相向竖：左右两竖作相互对峙，相互包围之势，使能相互呼应，名曰相向。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>83.1</key>
	<array/>
	<key>83.2</key>
	<array/>
	<key>84.1</key>
	<array/>
	<key>84.4</key>
	<array/>
	<key>85.1</key>
	<array/>
	<key>85.2</key>
	<array>
		<string>横折：横画行笔至转弯处，作提按圆折直下，转折不露圭角。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>竖钩：先作竖画，至出钩处，锋略上提，使得力得势后向左钩出。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>86.1</key>
	<array/>
	<key>87.1</key>
	<array/>
	<key>87.2</key>
	<array>
		<string>横联撇：‘天’横画挑出写长撇，势连笔不连。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>87.4</key>
	<array/>
	<key>88.1</key>
	<array>
		<string>结构--宽窄：‘类、朗’都是左宽右窄，使字能分出主次。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>88.8</key>
	<array>
		<string>横折竖钩：月字右半，先写横画，折后写竖画，其势微弯，顿后上钩。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>90.1</key>
	<array>
		<string>三点水：首点出锋带出次点次点与末节点相连，末点按后上挑，其势一气呵成。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>91.1</key>
	<array/>
	<key>91.8</key>
	<array>
		<string>心钩：尖锋入纸后，向右下方作弧形行笔，渐行渐重，至出钩处最重，出钩时作顿挫，得势后向左上顺势钩出，此钩宜稍长。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>92.1</key>
	<array/>
	<key>92.2</key>
	<array>
		<string>背抛钩：即风字右边的横折右斜钩，此笔宜笔势带侧，用腕力打弯，顺势斜出，使钩饱满有力。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>93.1</key>
	<array>
		<string>结构--相向：‘畅’字左昂右俯，很是紧密。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>93.5</key>
	<array/>
	<key>94.1</key>
	<array/>
	<key>94.3</key>
	<array>
		<string>点联竖：‘仰’将上短撇写成横点，然后竖下。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>94.4</key>
	<array/>
	<key>95.1</key>
	<array>
		<string>结构--长短：‘观’左长右短，相向而相偎。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>95.4</key>
	<array/>
	<key>96.1</key>
	<array/>
	<key>96.5</key>
	<array>
		<string>横联钩：‘宇’横后将笔上翻，从右方直接写竖钩。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>97.1</key>
	<array>
		<string>大小：‘宙’的宝盖极大，反觉得很稳重。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>97.3</key>
	<array>
		<string>横钩：长横至折角处，提笔后重按，调正笔锋后向左钩出。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>98.1</key>
	<array/>
	<key>98.2</key>
	<array>
		<string>撇联捺：‘之’撇的出锋处接着写捺，撇由重转轻，捺由轻转重。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>99.1</key>
	<array/>
	<key>99.2</key>
	<array>
		<string>弧撇：此撇起笔逆入后，竖直而下即向左推出，出锋尖利，中间有很大弧曲，此撇线条浑厚。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>101.1</key>
	<array>
		<string>点联点：‘察’中间竖钩后挑出左点，再遥与右点。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>101.3</key>
	<array/>
	<key>102.1</key>
	<array/>
	<key>103.1</key>
	<array>
		<string>结构--宽窄：‘类、朗、彭’都是左宽右窄，使字能分出主次。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>104.1</key>
	<array>
		<string>点联点：‘之’上点向左，左点上挑。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>104.3</key>
	<array/>
	<key>106.1</key>
	<array>
		<string>重轻横：此横画行笔逆入后，立即铺毫重按，然后右行时，由重转轻，收笔处略重回锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>108.1</key>
	<array/>
	<key>108.5</key>
	<array/>
	<key>108.6</key>
	<array>
		<string>波折捺：此捺行笔时起伏波折，收笔回锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>109.1</key>
	<array/>
	<key>109.3</key>
	<array>
		<string>横联横：‘目’中间两横形断势连，短而有力 --王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>110.1</key>
	<array>
		<string>结构--高低：‘骋’左低右高的形成在于右旁的撇高高升出。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>112.1</key>
	<array/>
	<key>112.5</key>
	<array>
		<string>反捺：此捺作反势，逆锋入纸后，笔向上凸起铺毫，然后向右下行笔，出锋处笔又内拗而出，其形与一般捺相反，也需有高度的行笔技巧。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>113.1</key>
	<array/>
	<key>114.1</key>
	<array>
		<string>结构--相让：‘极’字上部收紧，以让下面一横，使字写得极为稳定。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>疏密：‘极’左密右疏，使字不感闷塞。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>115.1</key>
	<array/>
	<key>115.3</key>
	<array>
		<string>竖联点：‘视’中示字的点附于竖上。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>118.1</key>
	<array/>
	<key>118.3</key>
	<array>
		<string>垂头挑：女字上挑起笔时，笔由下向上，有一牵丝露出，故其头下垂。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>119.1</key>
	<array/>
	<key>119.2</key>
	<array>
		<string>竖联点：‘信’左竖上挑，凌空取势，抛笔写点。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>120.1</key>
	<array/>
	<key>120.3</key>
	<array>
		<string>下垂钩：此钩的特点是出钩时，笔顺势下垂出锋，与圆曲钩略同。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>121.1</key>
	<array/>
	<key>121.6</key>
	<array>
		<string>波折横：此横亦用腕的翻动，轻重徐疾，波曲向前，收笔回锋，使线条生动活泼。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>122.1</key>
	<array/>
	<key>122.3</key>
	<array>
		<string>竖弯钩：竖弯后向右横画，渐行渐重，在出锋处，先蹲处得势，迅速向上略外倾地钩出，钩很厚重。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>124.1</key>
	<array>
		<string>斜撇：用笔取逆后，笔锋向左斜出，势微曲，壮健有力，力送锋尖，沉稳不飘。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>125.1</key>
	<array>
		<string>出锋点：笔入纸后，顺势一顿，即将锋带出，露出锋尖与下一笔有连之势。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>127.1</key>
	<array/>
	<key>127.2</key>
	<array/>
	<key>127.4</key>
	<array>
		<string>左右点：左右两点，作遥相呼应之势，一般是左低右高，字的重心易平稳。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>128.1</key>
	<array/>
	<key>128.4</key>
	<array>
		<string>横联撇：‘俯’横后收笔处反笔写撇。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>130.1</key>
	<array>
		<string>露锋横：尖锋入纸，其锋外露，行笔由轻至重，最后锋尖略上提后下按，回锋至横越画中间。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>131.1</key>
	<array/>
	<key>131.3</key>
	<array>
		<string>竖折：先作竖画，至转折处作顿挫提按，折锋向右，如写横画，收笔回锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>132.1</key>
	<array/>
	<key>132.3</key>
	<array/>
	<key>132.6</key>
	<array>
		<string>撇联点：‘或’撇开后笔呈抛物线状，写出最后一点。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>133.1</key>
	<array/>
	<key>133.5</key>
	<array>
		<string>左斜折：最后二笔，逆锋入纸后，向左微斜而下，转折后向右作点画。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>136.1</key>
	<array>
		<string>结构--相向：‘抱’挑手向右，包字向左，左右相向。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>疏密：‘抱’字相向之势，中间疏。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>137.1</key>
	<array/>
	<key>137.2</key>
	<array>
		<string>带钩竖：行书用笔动荡感极强，此竖画至出钩处向右上钩出，既不作悬针，亦不作垂露。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>138.1</key>
	<array/>
	<key>138.3</key>
	<array>
		<string>横联横：‘言’中间两横形断势连，短而有力 --王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>142.1</key>
	<array/>
	<key>143.1</key>
	<array>
		<string>长挑：或字下挑长而有曲，出锋处与撇相呼应。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>145.1</key>
	<array/>
	<key>145.8</key>
	<array/>
	<key>146.1</key>
	<array/>
	<key>146.3</key>
	<array/>
	<key>146.6</key>
	<array>
		<string>撇联横： 撇画多数出锋，与横画在形上的联系较难，顺其势而不必一定以牵丝相连 --王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>147.1</key>
	<array/>
	<key>147.6</key>
	<array>
		<string>短捺：最后一笔逆入后速行向右下迅笔，稍作提按即回锋收笔，行笔短促有力，但捺的动作已全部完成。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>148.1</key>
	<array/>
	<key>148.2</key>
	<array/>
	<key>148.8</key>
	<array>
		<string>撇联捺：‘浪’撇轻而捺重，撇短而捺长。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>149.1</key>
	<array/>
	<key>149.3</key>
	<array>
		<string>竖联竖：‘形’两竖起收笔完备，写得都很果断有力。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>149.5</key>
	<array>
		<string>并列撇：三撇并列，方向和轻重都不雷同，不使刻板。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>150.1</key>
	<array>
		<string>结构--相背： ‘骸’左右相靠而左半左视，右半右视。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>151.1</key>
	<array/>
	<key>152.1</key>
	<array/>
	<key>152.2</key>
	<array>
		<string>竖联点：‘外’长竖后写长点，其形在连与不连间。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>152.3</key>
	<array>
		<string>长点：外字的最后一笔，捺改为长点，笔入纸后向右拉长，再将笔下顿收锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>155.1</key>
	<array/>
	<key>155.2</key>
	<array/>
	<key>156.1</key>
	<array/>
	<key>156.10</key>
	<array/>
	<key>157.1</key>
	<array/>
	<key>157.5</key>
	<array>
		<string>蟹爪钩：逆锋入纸后先写竖画，至出钩时将笔向左平推，然后再向上钩出，形似蟹爪，此笔是王书的特色。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>158.1</key>
	<array/>
	<key>158.9</key>
	<array/>
	<key>161.1</key>
	<array>
		<string>开叉竖：羲之写兰亭用的是鼠须硬毫，故偶有开叉，此笔不必强求，也无法强求，应顺其自然。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>163.1</key>
	<array/>
	<key>163.2</key>
	<array>
		<string>竖联竖：’两竖都是从左起笔，左竖低右竖高。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>164.1</key>
	<array/>
	<key>164.5</key>
	<array>
		<string>隼尾点：最后一点取隶法，笔在中间作一重按，然后突然上提，以笔尖出锋，如鹰隼之尾。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>165.1</key>
	<array/>
	<key>165.4</key>
	<array>
		<string>上下点：上下两点相互呼应，上点出锋即成下点起笔，上点略轻，下点略重，反之亦可。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>166.1</key>
	<array>
		<string>仰势横：所字上横呈上仰之势，使字更是丰满，稳固。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>168.1</key>
	<array>
		<string>参差：‘蹔’（同暂）左为伸，右为缩。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>170.1</key>
	<array/>
	<key>170.4</key>
	<array>
		<string>点联点：‘於’上点顺势接写下点，一向左一向右。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>172.1</key>
	<array/>
	<key>172.2</key>
	<array>
		<string>点联竖：‘怏’的竖心是先写左右点，再写长竖。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>173.1</key>
	<array/>
	<key>173.6</key>
	<array>
		<string>横波点：然字四点，其形不甚清楚，似水之波涛，曲折多姿，最后一点略重回锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>174.1</key>
	<array/>
	<key>177.1</key>
	<array/>
	<key>177.3</key>
	<array>
		<string>曲折撇：此撇长而中间有曲折，可见行笔之波动出锋处又戛然而止，回笔收锋，很含蓄。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>177.4</key>
	<array/>
	<key>178.1</key>
	<array>
		<string>斜点：尖锋入纸后，向右向下重按铺毫，再将笔向左上回锋至腹部收笔。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>179.1</key>
	<array/>
	<key>179.6</key>
	<array>
		<string>横联钩：‘将’长横收笔时将笔从原线内回至中间写竖钩。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>181.1</key>
	<array>
		<string>带钩撇：此撇由重至轻，至出锋处突然折锋钩出，出钩处稍作发力。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>181.3</key>
	<array>
		<string>曲头捺：起笔处行笔曲折，然后再波折作捺，捺势圆润，锋也作收。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>182.1</key>
	<array/>
	<key>183.1</key>
	<array/>
	<key>183.4</key>
	<array>
		<string>短挑：挑法用力在起笔处，得力在出锋处故应快速有力，短而不松。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>184.1</key>
	<array/>
	<key>184.2</key>
	<array>
		<string>长点捺：最后一笔以长点代捺，笔由轻而重，再回锋收笔，头是圆形。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>185.1</key>
	<array/>
	<key>185.6</key>
	<array/>
	<key>186.8</key>
	<array/>
	<key>187.1</key>
	<array/>
	<key>188.1</key>
	<array/>
	<key>188.2</key>
	<array/>
	<key>189.1</key>
	<array/>
	<key>189.3</key>
	<array>
		<string>平钩：最后一笔也是竖钩，然此钩是向左平推而出，有托住上部之意。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>191.1</key>
	<array/>
	<key>192.1</key>
	<array/>
	<key>192.2</key>
	<array/>
	<key>193.1</key>
	<array/>
	<key>193.2</key>
	<array>
		<string>短竖：人字旁左竖，行笔短促，力量稍重，使右旁点画虽少仍是稳固。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>193.3</key>
	<array/>
	<key>194.1</key>
	<array/>
	<key>195.1</key>
	<array/>
	<key>195.3</key>
	<array/>
	<key>195.4</key>
	<array>
		<string>开叉撇：此撇出锋处笔锋开叉，行笔重而出撇快，笔又硬，故偶然开叉，不必故意为之。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>195.5</key>
	<array/>
	<key>196.1</key>
	<array/>
	<key>197.1</key>
	<array/>
	<key>197.2</key>
	<array/>
	<key>198.1</key>
	<array>
		<string>欹正：‘俛’左正，右有下俯之势，为欹。--王羲之兰亭序临写法 (吴柏森)</string>
		<string>撇联竖：‘俛’单人旁，撇竖不相连，形断意连。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>199.1</key>
	<array/>
	<key>199.2</key>
	<array/>
	<key>199.4</key>
	<array/>
	<key>200.1</key>
	<array/>
	<key>201.1</key>
	<array>
		<string>相背竖：左右两竖都有内凹之势，作背靠背状，名曰相背。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>202.1</key>
	<array/>
	<key>203.1</key>
	<array/>
	<key>204.-1</key>
	<array>
		<string>反捺点：最后一笔逆锋入纸后，力量由轻到稍重，然后笔略向下拖，回锋收笔，似反捺写法。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>205.1</key>
	<array>
		<string>横联点：‘迹’横与点有牵丝相连。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>207.1</key>
	<array/>
	<key>207.4</key>
	<array>
		<string>曲头点：笔锋入纸后，向右弯曲铺毫，重按后回笔出锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>209.1</key>
	<array/>
	<key>211.1</key>
	<array/>
	<key>213.1</key>
	<array/>
	<key>213.2</key>
	<array/>
	<key>214.1</key>
	<array>
		<string>二点水：上点出锋带出下点，转锋提笔向右上挑出。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>215.1</key>
	<array/>
	<key>216.1</key>
	<array/>
	<key>216.2</key>
	<array>
		<string>撇联点：‘短’撇重点轻，字较稳固。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>218.1</key>
	<array/>
	<key>218.4</key>
	<array>
		<string>回锋藏钩：最后一笔原是竖弯钩然此处并不钩出，而似写一横出锋处回笔将锋藏入画中。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>220.1</key>
	<array>
		<string>长短：‘期’左长右短，不使齐平。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>220.6</key>
	<array>
		<string>点联竖：‘期’左点上挑接写月字的左竖。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>221.1</key>
	<array>
		<string>结构--相向：‘於’左旁向右上仰，右旁向左下俯，有上下相承，左右相盼之态。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>222.1</key>
	<array>
		<string>结构--相密：‘尽’字点画多，中间四点加重，更显紧而不散。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>223.1</key>
	<array>
		<string>横联竖：‘古’横竖笔热不连 --王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>224.1</key>
	<array/>
	<key>225.1</key>
	<array>
		<string>点联横：‘云’点与横之间相距较远，此字点画少，故意将字写长。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>227.1</key>
	<array/>
	<key>229.1</key>
	<array/>
	<key>229.3</key>
	<array/>
	<key>232.1</key>
	<array/>
	<key>233.1</key>
	<array/>
	<key>233.4</key>
	<array>
		<string>戈钩：笔锋逆入后，引笔作斜势下行，中间微弯但不能太弯，至出锋处蹲锋得势上钩。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>234.1</key>
	<array>
		<string>大小：‘揽’左小右大，有以小附大之态。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>234.3</key>
	<array/>
	<key>236.1</key>
	<array/>
	<key>237.1</key>
	<array/>
	<key>238.1</key>
	<array/>
	<key>238.4</key>
	<array/>
	<key>239.1</key>
	<array/>
	<key>240.1</key>
	<array/>
	<key>240.2</key>
	<array/>
	<key>242.1</key>
	<array>
		<string>撇联捺：‘合’字撇捺特长，很是潇洒。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>242.3</key>
	<array/>
	<key>243.1</key>
	<array/>
	<key>245.1</key>
	<array>
		<string>下凹横：未字两横都有下凹之势，尖锋入纸后笔向下拉后再向上斜行，使线条呈下凹状。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>245.2</key>
	<array/>
	<key>249.1</key>
	<array>
		<string>参差：‘嗟’口字上靠为缩，差字形长为伸，及伸缩之法。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>250.1</key>
	<array>
		<string>欹正：‘悼’左正右欹，以欹靠正。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>251.1</key>
	<array/>
	<key>253.1</key>
	<array>
		<string>结构--相让：‘喻’的口上缩，使俞字的左撇能极舒展。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>253.4</key>
	<array/>
	<key>254.1</key>
	<array/>
	<key>255.1</key>
	<array/>
	<key>256.1</key>
	<array/>
	<key>257.1</key>
	<array>
		<string>竖联横：‘固’左竖与上横都各自起笔，其形断。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>259.1</key>
	<array/>
	<key>262.1</key>
	<array/>
	<key>263.5</key>
	<array>
		<string>撇联竖：‘虚’字下部丘撇后回锋向上写竖，形也不连。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>264.1</key>
	<array/>
	<key>265.1</key>
	<array/>
	<key>265.13</key>
	<array/>
	<key>266.1</key>
	<array>
		<string>结构--宽窄：‘类、朗、彭’都是左宽右窄，使字能分出主次。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>268.1</key>
	<array/>
	<key>269.1</key>
	<array>
		<string>平点：尖锋入纸后，笔平行向右铺毫，再略向下于中腹出锋，形似短横。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>270.1</key>
	<array/>
	<key>270.2</key>
	<array>
		<string>露锋竖：作字左竖露锋入纸，作弯势下竖，收笔回锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>270.5</key>
	<array/>
	<key>272.1</key>
	<array/>
	<key>272.2</key>
	<array/>
	<key>273.1</key>
	<array>
		<string>结构--高低：‘视’左旁示字的点特高，形成左高右低。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>273.9</key>
	<array/>
	<key>276.1</key>
	<array/>
	<key>277.1</key>
	<array/>
	<key>277.2</key>
	<array/>
	<key>278.1</key>
	<array/>
	<key>279.1</key>
	<array>
		<string>轻重：‘视’左重右轻。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>281.1</key>
	<array/>
	<key>281.4</key>
	<array/>
	<key>282.1</key>
	<array/>
	<key>282.-1</key>
	<array>
		<string>带钩捺：最后一笔是长捺，出锋时笔略向下带出，有一小钩。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>283.1</key>
	<array/>
	<key>283.4</key>
	<array/>
	<key>284.1</key>
	<array>
		<string>疏密：‘叙’左密右疏，相互协调。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>284.-1</key>
	<array/>
	<key>285.1</key>
	<array>
		<string>长短：‘时’左短右长，突出右旁寺字。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>286.1</key>
	<array/>
	<key>287.1</key>
	<array>
		<string>疏密：‘录’字右旁上疏下密。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>288.1</key>
	<array/>
	<key>289.1</key>
	<array/>
	<key>290.1</key>
	<array/>
	<key>290.6</key>
	<array/>
	<key>291.1</key>
	<array/>
	<key>291.7</key>
	<array/>
	<key>293.1</key>
	<array>
		<string>结构--相背： ‘殊’的两半是背靠的姿态。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>294.1</key>
	<array/>
	<key>296.1</key>
	<array/>
	<key>297.1</key>
	<array/>
	<key>298.1</key>
	<array/>
	<key>299.1</key>
	<array/>
	<key>300.1</key>
	<array/>
	<key>300.3</key>
	<array/>
	<key>302.1</key>
	<array/>
	<key>303.1</key>
	<array/>
	<key>303.3</key>
	<array/>
	<key>305.1</key>
	<array/>
	<key>306.1</key>
	<array>
		<string>结构--宽窄：‘揽’字左窄右宽，都是以窄附宽之势。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>307.1</key>
	<array>
		<string>横联撇：‘者’横后顺笔连着写撇，其撇不出锋。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>307.3</key>
	<array/>
	<key>310.1</key>
	<array/>
	<key>311.1</key>
	<array/>
	<key>312.1</key>
	<array/>
	<key>313.1</key>
	<array/>
	<key>313.6</key>
	<array>
		<string>撇联竖：‘斯’斤字旁上撇重而斜竖画亦重，在字中为最重两笔，很突出。--王羲之兰亭序临写法 (吴柏森)</string>
	</array>
	<key>Last</key>
	<array/>
	<key>Last2</key>
	<array/>
	<key>Last3</key>
	<array/>
	<key>Last4</key>
	<array/>
	<key>Last5</key>
	<array/>
	<key>Last6</key>
	<array/>
</dict>
</plist>
